:root {
    --clr-primary-pale-blue: hsl(225, 100%, 94%);
    --clr-primary-bright-blue: hsl(245, 75%, 52%);
    --clr-neutral-very-pale-blue: hsl(225, 100%, 98%);
    --clr-neutral-desaturated-blue: hsl(224, 23%, 55%);
    --clr-neutral-dark-blue: hsl(223, 47%, 23%);
    --ff-main: 'Red Hat Display', sans-serif;
    --fw-semi-bold: 500;
    --fw-bold: 700;
    --fw-extra-bold: 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    --border-radius-component: 1.5rem;

    font-family: var(--ff-main);
    background-color: var(--clr-primary-pale-blue);
    background-image: url("./images/pattern-background-desktop.svg")  no-repeat;
    background-size: 100% auto;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.component {
    margin: 1.5rem;
    border-radius: var(--border-radius-component);
    background-color: var(--clr-neutral-very-pale-blue);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.component .component__details .component__details-title {
    font-weight: var(--fw-extra-bold);
    font-size: 24px;
    
}

.component .component__details {
    display: flex;  
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.component .component__details .component__button-payment, .component__button-cancel {
    width: 100%;
    padding: 0.5rem;
}

@media (min-width: 375px) {
    body {
        background-image: url("./images/pattern-background-mobile.svg");
        background-repeat: no-repeat;
    }
}